@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html {
  height: unset !important;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-wrapper {
  min-height: calc(100vh - 365px);
}

.carousel-height {
  max-height: 700px;
}

.slick-arrow::before {
  content: "" !important;
}

.parallax {
  background-image: url("./assets/parallax.jpg");
  min-height: 280px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-overlay {
  background: #1d2427;
  opacity: 0.9;
  min-height: 280px;
}

.ant-btn:hover,
.ant-btn:focus {
  color: rgb(235, 235, 235) !important;
  border-color: rgb(235, 235, 235) !important;
}
